.cabecalho{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.cabecalho__checkbox{
    display: inline;
}


.cabecalho__pesquisa{
    background-color: var(--corBackgroundPesquisa);
    border: 1px solid black;
    border-radius:5px;
    float: left;
    width: 40%;
}

.cabecalho__pesquisa--barra{
    background-color:transparent;
    border: 0;
    box-sizing: border-box;
    width: 90%;
    padding: .5rem .6rem;
    float: left;
}

.cabecalho__pesquisa--botao{
    background-color:transparent;
    background-image:url(../src/vetores/lupa.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    border: 0;
    cursor: pointer;
    float:left;
    height:25px;
    width: 10%;
    margin-top:.5%
}

.cabecalho__titulo{
    margin-top:2%
}

.cabecalho__botao--favoritar{
    background-color: var(--corBackgroundCard);
    border: 1px solid var(--corLetra);
    border-radius: 4px;
    color: var(--corLetra);
    text-decoration: none;
    padding:1rem;
}