.card__filme--descricao{
    width: 50%;
}

.card__filme{
    align-items: center;
    background-color: var(--corBackgroundCard);
    border-radius:8px;
    display: flex;
    gap: 2em;
    justify-content: center;
    margin: 2% auto;
    padding: 2rem 0;
    width: 80%;
}

.card__filme--informacao{
    display: flex;
    flex-direction:column;
    width:17%;
}
.card__filme--imagem{
    border-radius:50%;
    /* max-width:250px; */
    max-height:134px
}

.filme__informacao--extra{
    display: flex;
    gap: 1em;
    justify-content: center;
}