.card__filme--descricao{
    width: 50%;
}

.card__filme{
    align-items: center;
    background-color: var(--corBackgroundCard);
    border-radius:8px;
    display: flex;
    gap: 2em;
    justify-content: center;
    margin: 2% auto;
    padding: 2rem 0;
    width: 80%;
}

.card__filme--informacao{
    display: flex;
    flex-direction:column;
    width:17%;
}
.card__filme--imagem{
    border-radius:50%;
    width:12%;
    max-height:134px
}

.filme__informacao--extra{
    display: flex;
    gap: 1em;
    justify-content: center;
}
.card__filme--titulo{
    display: flex;
    justify-content: center;
}

.card__filme--nota{
    background-image:url(../src/vetores/Star.svg);
    background-repeat: no-repeat;
    background-position: 30%;
    padding-left: 2rem;
  
}
.card__filme--favorito{
    background-image:url(../src/vetores/Heart.svg);
    background-repeat: no-repeat;
    background-position: 10%;
    background-size: 20%;
    cursor: pointer;
    padding-left: 2rem;
    
}