:root{
    --corBackground:#17162e;
    --corLetra:#FFFFFF;
    --corBackgroundPesquisa:#8b8b94;
    --corBackgroundCard:#1D1C3B;

}

body{
    background-color:var(--corBackground);
    color:var(--corLetra)
}